.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.column {
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.line-break {
  white-space: pre-line;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
}

pre {
  background-color: #f0f0f0;
  padding: 10px;
  max-width: 80%;
  margin: 20px auto;
  overflow: auto;
}
